# @since 2020.10.17, 03:05
# @changed 2023.02.09, 20:42
# see:
# - Groups: `vim ~/security/.htgroups`
# - Users: `vim ~/security/.htpasswd`
# - Htpasswd command: `htpasswd --help`
# - Add user command: `htpasswd -bm .htpasswd user pass`

# Options -Indexes
# DirectoryIndex SyncInterface.php
# AddDefaultCharset utf-8

AuthUserFile /home/g/goldenjeru/.security/.htpasswd
AuthGroupFile /home/g/goldenjeru/.security/.htgroups

AuthType Basic
AuthName tournament-game
# Require valid-user
# Require Group demo

<Files ~ "^(manifest\.json)$">
Satisfy any
</Files>
